
body{

    font-family: "Arial";
}

fieldset{
    border-width: 5px;
    border-color: navy;
    width:600px;
    margin-bottom: 20px;
}

legend{
    font-size: 20px;
    color: navy;
    font-weight: bold;
}

fieldset  label {
    float: left;
    width: 10em;
    margin-right: 1em;
}

fieldset input[type='number']{

    margin-left: 50px;
}
